* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.astronauta {
    display: block;
    margin: auto;
}